.footer {
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  width: 100%;
  padding: 30px 80px 70px 100px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.copyright {
  flex: 1;
}

.footer-menu {
  display: flex;
  flex: 2;
  justify-content: space-around;
}

.copyright--content {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
}

.footer-column-list--title {
  font-size: 1rem;
  font-weight: bold;
}

.footer-column-list {
  list-style-type: none;
  padding: 0;
  line-height: 1.4rem;
  font-size: 1rem;
}

.footer-column-list-item a {
  color: inherit;
  text-decoration: none;
}

.footer-column-list-item a:hover {
  text-decoration: underline;
}
