<footer class="footer">
  <div class="copyright">
    <p class="copyright--content">
      © 2013–2024 Signal, a 501c3 nonprofit. <br> 
      "Signal", Signal logos, and other trademarks are trademarks or registered trademarks of Signal Technology Foundation in the United States and other countries (more info here).
    </p>
    <p class="copyright--content">
      For media inquiries, contact press&commat;signal.org
    </p>
  </div>

  <div class="footer-menu">
    <div class="footer-column">
      <p class="footer-column-list--title">Organization</p>
      <ul class="footer-column-list">
        <li class="footer-column-list-item">
          <a href="https://signal.org/fr/donate/">Donate</a>
        </li>
        <li class="footer-column-list-item">
          <a href="https://signal.org/workworkwork/">Careers</a>
        </li>
        <li class="footer-column-list-item">
          <a href="https://signal.org/blog/">Blog</a>
        </li>
        <li class="footer-column-list-item">
          <a href="https://signal.org/legal/">Terms & Privacy Policy</a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <p class="footer-column-list--title">Download</p>
      <ul class="footer-column-list">
        <li class="footer-column-list-item">
          <a href="https://signal.org/fr/download/android/">Android</a>
        </li>
        <li class="footer-column-list-item">
          <a href="https://signal.org/fr/download/ios/">iPhone & iPad</a>
        </li>
        <li class="footer-column-list-item">
          <a href="https://signal.org/fr/download/windows/">Windows</a>
        </li>
        <li class="footer-column-list-item">
          <a href="https://signal.org/fr/download/macos/">Mac</a>
        </li>
        <li class="footer-column-list-item">
          <a href="https://signal.org/fr/download/linux/">Linux</a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <p class="footer-column-list--title">Social</p>
      <ul class="footer-column-list">
        <li class="footer-column-list-item">
          <a href="https://github.com/signalapp">GitHub</a>
        </li>
        <li class="footer-column-list-item">
          <a href="https://twitter.com/signalapp">Twitter</a>
        </li>
        <li class="footer-column-list-item">
          <a href="https://www.instagram.com/signal_app/">Instagram</a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <p class="footer-column-list--title">Help</p>
      <ul class="footer-column-list">
        <li class="footer-column-list-item">
          <a href="https://support.signal.org/hc/fr">Support Center</a>
        </li>
        <li class="footer-column-list-item">
          <a href="https://community.signalusers.org/">Community</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
