<section class="banner">
  <div class="banner-content">
    <h1>Exprimez-vous librement</h1>
    <p>
      Dites « Bonjour » à une expérience de messagerie différente. Un accent
      inattendu sur la confidentialité et la protection des données
      personnelles, combiné à toutes les fonctions auxquelles vous vous
      attendez.
    </p>
    <app-button [content]="buttonContent"></app-button>
  </div>

  <div class="mobile-screenshot">
    <img
      src="../../assets/signal-iphone.png"
      alt="iphone image"
      class="screenshot1"
    />
    <img
      src="../../assets/signal-pixel.png"
      alt="pixel phone image"
      class="screenshot2"
    />
  </div>
</section>
