.banner {
  background-color: var(--banner-section-background);
  margin: 80px 0 150px 0;
  padding: 40px 100px 180px 100px;
  display: flex;
  position: relative;
}

.banner h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 64px;
  padding-top: 120px;
  margin: 0;
}

.banner-content {
  width: 40%;
}

.mobile-screenshot img {
  transform: rotate(22.5deg);
}

.mobile-screenshot {
  position: absolute;
  left: 40%;
  top: 20;
  margin-left: 60px;
}

.screenshot1 {
  margin-top: 46px;
  width: 320px;
}

.screenshot2 {
  margin-left: -32px;
  position: absolute;
  top: 0px;
  width: 300px;
}

