<app-header></app-header>

<main>
  <section>
    <app-banner class="no-border-button" [buttonContent]="bannerButton"></app-banner>
  </section>

  <app-informations-section class="text-center-full-width" [title]="sectionsData[0].title" [description]="sectionsData[0].description" ></app-informations-section>
  <app-informations-section class="space-between" [title]="sectionsData[1].title" [description]="sectionsData[1].description" [pathImage]="sectionsData[1].pathImage"></app-informations-section>

  <section class="features-section">

    @for (card of cardsData; track $index) {
      <app-cards [title]="card.title" [description]="card.description" [pathImage]="card.pathImage"></app-cards>
    }
     
  </section>

  <app-informations-section [title]="sectionsData[2].title" [description]="sectionsData[2].description" [pathImage]="sectionsData[2].pathImage"></app-informations-section>
  <app-informations-section class="row-reverse" [title]="sectionsData[3].title" [description]="sectionsData[3].description" [pathImage]="sectionsData[3].pathImage" [buttonContent]="sectionsData[3].buttonContent"></app-informations-section>
 
</main>

<app-footer></app-footer>

<router-outlet />
