
.features-section {
  background-color: var(--cards-section-background);
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

//modifie le composant grâce à la classe ajoutée sur le component dans app.component
:host ::ng-deep .text-center-full-width .informations-section_content {
  width: 100%;
  text-align: center;
}

:host ::ng-deep .space-between .informations-section {
  justify-content: space-between;
}

:host ::ng-deep .row-reverse .informations-section {
  flex-direction: row-reverse;
}

:host ::ng-deep .no-border-button .signal-button {
  border: none;
}
