.icon {
    width: 20px;
    height: 20px;
}

.navbar {
    list-style: none;
    display: flex;
    gap : 1.3rem;
    align-items: center;
}

.navbar-item a {
    cursor: pointer;
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
    display: flex;
}


.navbar-item a:hover {
    color: var(--button-text-color);
}

.navbar .language {
    margin-right: 6px;
    height: 16px;
    width: 16px;
    align-self: center;
}