<nav>
    <ul class="navbar">
        <li class="navbar-item"> <a href="https://signal.org/fr/download/">Get Signal</a></li>
        <li class="navbar-item"> <a href="https://support.signal.org/hc/fr">Help</a></li>
        <li class="navbar-item"> <a href="https://signal.org/blog/">Blog</a></li>
        <li class="navbar-item"> <a href="https://signal.org/docs/"> Developers</a></li>
        <li class="navbar-item"> <a href="https://signal.org/workworkwork/">Careers</a></li>
        <li class="navbar-item"> <a href="https://signal.org/donate/">Donate</a></li>
        <li class="navbar-item"> <a href="https://twitter.com/signalapp"><img src="../../assets/twitter.svg" alt="logo twitter" class="icon"></a>
        </li>
        <li class="navbar-item"> <a href="https://www.instagram.com/signal_app/"> <img src="../../assets/instagram.svg" alt="logo instagram" class="icon"></a></li>
        <li class="navbar-item"> <a href="/https://signal.org/fr/#">
            <img src="../../assets/solid_globe.svg" alt="solid globe" class="icon language">
            Français
        </a>
        </li>

    </ul>
</nav>
