:root {
    --main-text-color : #1B1B1B;
    --header-text-color: #000000;
    --button-text-color: #3A76F0;

    --main-background: #ffffff;
    --banner-section-background : #9DBBF8;
    --cards-section-background : #F6F6F6;
    --cards-background : #ffffff;

    --footer-background : #3C3744;
    --footer-text-color : white;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--main-text-color);
    margin: 0;
}

h2 {
    font-size: 2.7rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 1.3rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0;
}

p {
    font-size: 1.3rem;
    line-height: 1.8rem;
}