.informations-section {
  margin: 80px 100px 50px 100px;
  display: flex;
  gap : 30px;
}

.informations-section img {
  width: 650px;
  border-radius: 1rem;
}

.informations-section_content {
    width: 33%;
}
