<section class="informations-section">
  <div class="informations-section_content">
    <h2>{{ title }}</h2>
    <p>
      {{ description }}
    </p>

    @if (buttonContent != undefined) {
    <app-button [content]="buttonContent"></app-button>
    }
  </div>

  @if(pathImage != undefined) {
  <img [src]="pathImage" />
  }
</section>
